#blog {
  padding-top: 10rem;

  .container {
    .blog-head {
      margin-inline: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 80%;
      border: 1px solid rgba($color: #000000, $alpha: 0.2);
      padding: 1rem;
      border-radius: 20px;
      box-shadow: 0 2px 20px 0 rgba($color: #000000, $alpha: 0.2);

      h1 {
        font-size: 2.5rem;
        color: #0b185a;
        margin-bottom: 1rem;
        text-align: center;
      }
      p {
        text-align: center;
        margin-bottom: 1rem;
        opacity: 0.8;
        color: #3b3f51;
      }
      .blog-nav {
        border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;

        h3 {
          padding-top: 1.5rem;
          color: rgb(87, 84, 84);
          font-weight: 400;
          opacity: 0.8;
          padding: 0.5rem;
        }
      }
    }
    .image-info-blog {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding-top: 4rem;
      gap: 3rem;

      .image-layer {
        display: flex;
        flex-direction: column;
        position: relative;
        text-align: center;

        .image-blog {
          display: block;

          img {
            aspect-ratio: 1/1;
            width: 100%;
            border-radius: 20px 20px 0 0;
            object-fit: cover;
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
          }
        }
        .title-blog {
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 20px 20px 0 0;

          &:hover {
            background-color: rgba($color: rgb(0, 0, 0), $alpha: 0.5);
          }

          h2 {
            color: #fff;
            font-weight: 600;
            font-size: 3rem;
            letter-spacing: 2px;
            opacity: 0;
            transition: 0.3s ease-in-out;
            transform: translateY(100px);
          }
          &:hover h2 {
            opacity: 1;
            transform: translateY(0);
            cursor: pointer;
          }
        }
      }
    }
  }
}

.layer {
  border: 1px solid rgba($color: #000000, $alpha: 0.1);
  border-radius: 20px;
  box-shadow: 0 2px 15px 2px rgba($color: #000000, $alpha: 0.1);

  h1 {
    padding: 0.5rem;
    color: #0b185a;
    text-align: center;
  }
}

@media (max-width: 768px) {
  #blog {
    .container {
      .image-info-blog {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
  .layer {
    h1 {
      font-size: 1.3rem;
    }
  }
}

@media (max-width: 500px) {
  .layer {
    h1 {
      font-size: 1rem;
    }
  }
}
