@use "../components/Navbar/navbar";
@use "../components/hero/hero";
@use "../components/hero/service";
@use "../components/Contact/contactt";
@use "../components/Blog/Blog";

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background-color: #fafafa;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
}

.nav-menu.active {
  left: 0;
}

.nav-active {
  background-color: rgba($color: #fff, $alpha: 0.6);
  border: 1px solid rgba($color: #000000, $alpha: 0.1);
  box-shadow: 0 0 5px 5px rgba($color: #000000, $alpha: 0.1);
  backdrop-filter: blur(15px);
}

.nav-p {
  padding: 1rem;
}

.social-media {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  bottom: 50%;
  background-color: #fff;
}

@media (max-width: 1000px) {
  .social-media {
    display: none;
  }
}
